
div {
    width: 100px;
    height: 100px;
    background-color: #f00;
    margin-top: 100px;
  
    
    animation: test 5s ease infinite;
      
  }
  
  @keyframes test {
    0% {
    }
    
    50% {
      transform: translatex(150px) rotate(360deg);
      border-radius: 0;
      background-color: #0f0;
    }
    
    100% {
      border-radius: 50%;
      transform: translatex(300px);
      background-color: #ff0;
    }
  }